create.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="sdkrtn" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="NewHazardousObject" type="sdk:NewHazardousObjectType" xmlns:sdk="sdkrtn"/>
  <xs:complexType name="HazardousObjectsType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="Name"/>
        <xs:attribute type="xs:string" name="GuidOPO"/>
        <xs:attribute type="xs:string" name="LaunchDate"/>
        <xs:attribute type="xs:string" name="PbRegNum"/>
        <xs:attribute type="xs:string" name="PbIssueDate"/>
        <xs:attribute type="xs:string" name="PbValidUntil"/>
        <xs:attribute type="xs:string" name="PbState"/>
        <xs:attribute type="xs:string" name="LimitIrLow"/>
        <xs:attribute type="xs:string" name="LimitIrNormal"/>
        <xs:attribute type="xs:string" name="LimitIrHigh"/>
        <xs:attribute type="xs:string" name="LimitIrMax"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="NewHazardousObjectType">
    <xs:sequence>
      <xs:element type="sdk:HazardousObjectsType" name="HazardousObjects" xmlns:sdk="sdkrtn"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="Organization"/>
  </xs:complexType>
</xs:schema>